*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Roboto,  sans-serif;
  
}

.layout{
  display: grid;
  grid-template-columns: 20% 80%;
 
}
.side-bar{
  background: rgb(10, 147, 210);
  color: white;
  height: 100vh;
}

.logo-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 20px;
}

.icon-text{
  display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 40px;
}

.log-text h1{
  font-size: 25px;
  margin-left: 20px;
}
.icon-text p{
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}
.icon-text> img, .logo-text> img{
  width: 24px;
  height: 24px;
  padding-right: 10px;
  padding-left: 20px;
  -webkit-filter: invert(100%);
}

.list-items-bottom{
  margin-top: 50px;
}


.section-1{
  padding-top: 20px;
}
.section-2{
  padding-top: 40px;
}

.main{
  background-color: white;
  height: 100vh;
  display:grid;
  grid-template-rows: 20% 80%;
}
.header{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.trend-image-text>img,
.small-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.big-profile-pic{
  width: 60px;
  border-radius: 50%;
  margin-right: 14px;
}

.search-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0 40px;
  
  
  
}

.left-section{
  display: flex;
}

.right-section{
  display: flex;
  align-items: center;
  
}

.notification-logo{
  width: 30px;
  
}



.search-logo{
  width: 30px;
  padding-right: 14px;

}

.search{
  width: 600px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgb(231, 235, 235);
  
  
}

.profile-section{
  display: flex;
  justify-content: space-between;
  padding: 14px 75px 0px 40px;
  
}

.name{
  font-weight: bold;
  padding-right: 100px;
}

.tag-name{
  font-size: 20px;
  font-weight: bold;
}

.name-2{
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;;
}

button{
  background-color: rgb(10, 147, 210);
  padding: 10px 30px 10px 30px;
  color: white;
  border:none;
  border-radius: 18px;
  margin-right: 10px;
  
}
.content{
  background-color:  rgb(231, 235, 235);
  display: grid;
  grid-template-columns: 70% 30%;
  
}

.cards{
  display: grid;
  grid-template-columns: 50% 50%;

}

.projects>h3{
  padding: 10px 0 0px 16px;
}

.ann>h3{
  margin-top: 10px;
  margin-bottom: 15px;
}
.icons{
  display: flex;
  flex-direction: row;
  padding: 40px 0 0 260px;
  

  
  
  
}

.icons>img{
  width: 20px;
}

.card{
  border-left: 5px solid #e8b639;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  height: 100px;
  margin: 15px 0;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: flex-start;
  padding-left: 15px;

}



.card> p{
  color: grey;
  padding: 10px 0 10px 0;
  font-size: 12px;
}

.ann-card,
.trend-card{
  height: 70%;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}
.ann-trend{
  display: grid;
  grid-template-rows: 50% 50%;

}

.ann-text h6, .trend-text h6{
  font-size: 12px;
}

.ann-text p, .trend-text p{
  font-size: 10px;
  color:grey;
}

.ann-text{
  padding: 10px 15px;
}

.divider{
  border: 0.5px solid rgb(206, 202, 202);
  width: 80%;
  margin-left: 20px;
}


.trend-image-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0 5px 0;
  

}

.trend-card{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 0px;
}
.trend-text{
  margin-left: 20px;
}


.trend>h4{
  margin-top: -25px;

}
.ann-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

